
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clicker - Sign Up</title>
</head>
<body>
	<h1>Sign Up to Clicker!</h1>

	<form action="/signup" method="POST">
	 	<p><label for="username">Username: </label><input id="username" type="text" name="username"></p>
		<p><label for="password">Password: </label><input type="password" type="password" name="password"></p>
		<p><input type="submit" value="Sign Up"></p>
	</form>
</body>
</html>